h1 {
    color: white;
    font-style: oblique;
    font: outline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: x-large;
    margin-left: 50px;
    
}

* {
    
}


.header  * {
    border: solid;
}

.header{
    background-color:blue;
    display:flex;
    justify-content: space-between;
    }
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
   text-align: center;
   border: solid;
}

body{
    background-color:gray;
}

.menu{
    margin-right: 200px;
    margin-top: 30px;

}

.menu a{
    margin-left: 20px; 
}
.item{
    position: relative;
}

.item p{
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;

}
.item:hover img{
    opacity: 0.3;
}